{% extends "layout.html" %}

{% block title %}
Test Uploading Images
{% endblock %}

{% block scripts %}
{% endblock %}


{% block main %}
<div class="container">
    <div class="row">
      <div class="col">
        <form action="/upload_image" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label>Upload an image to find out if it contains a goth or a hipster...</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" name="image" id="image">
              <label class="custom-file-label" for="image">Select image...</label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Upload</button>
        </form>
  
      </div>
    </div>
  </div>
  
{% endblock %}